{% extends 'base.html' %}

{% block title %}Alex's Sample Portfolio{% endblock %}
{% block content %}
<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one">
        <header class="major">
            <h2>Welcome to my Sample Portfolio</h2>
        </header>
        <h3>My Python journey began with the course 100 Days of Code.</h3>
        <p>I have been documenting the projects I have created throughout the course.
            This particular project is created with Flask, Jinja2, Boostrap, a HTML5 template, JSON, and Web3Forms API. </p>
        <ul class="actions">
            <li><a href="{{ url_for('surprise') }}" class="button">Click for a surprise!</a></li>
        </ul>
    </section>

    <!-- Two -->
    <section id="two">
        <h2>Completed Challenges</h2>
        <div class="row">
            {% for project in projects %}
            <article class="col-6 col-12-xsmall">
                <a href="{{ project.link }}" class="image fit"><img
                        src=" {{url_for('static', filename=project.img_path) }}" alt="{{ project.img_alt }}"/></a>
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }} </p>
            </article>
            {% endfor %}
        </div>
        <ul class="actions">
            <li><a href="https://slothlearnspython.wordpress.com/" class="button">More</a></li>
        </ul>
    </section>

    <!-- Three -->
    <section id="three">
        <h2>Get In Touch</h2>
        <p>This form works too, so you can send me a message.</p>
        <div class="row">
            <div class="col-8 col-12-small">
                <form method="post" action="https://api.web3forms.com/submit">
                    <div class="row gtr-uniform gtr-50">
                        <input type="hidden" name="access_key" value="{{key}}">
                         <input type="hidden" name="redirect" value="https://portfolio-website-bb1j.onrender.com/">
                        <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email"
                                                                placeholder="Email"/></div>
                        <div class="col-12"><textarea name="message" id="message" placeholder="Message"
                                                      rows="4"></textarea></div>
                    </div>
                    <ul class="actions">
                    <li><input type="submit" value="Send Message"/></li>
                </ul>
                </form>
            </div>
            <div class="col-4 col-12-small">
                <ul class="labeled-icons">
                    <li>
                        <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                        Seoul, South Korea
                    </li>
                    <li>
                        <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                        <a href="mailto:programming100days@gmail.com">programming100days@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}
